<footer class="bg-gray-50">
    <div class="section-container py-10">
        <div class="flex flex-col items-center space-y-6 md:flex-row md:space-y-0 md:justify-around md:items-center">
            <img src="images/logo.svg" alt="" class="w-16">
            <div class="flex flex-col space-y-4 text-center text-grayishBlue md:flex-row md:space-y-0 md:text-left md:space-x-20">
                <div class="flex flex-col space-y-4">
                    <a href="#" class="hover:text-strongCyan">FAQs</a>
                    <a href="#" class="hover:text-strongCyan">Contact Us</a>
                </div>
                <div class="flex flex-col space-y-4">
                    <a href="#" class="hover:text-strongCyan">Privacy policy</a>
                    <a href="#" class="hover:text-strongCyan">Press Kit</a>
                </div>
                <div class="flex flex-col space-y-4">
                    <a href="#" class="hover:text-strongCyan">Install Guide</a>
                </div>
            </div>
            <div class="flex space-x-8">
                <img src="images/icon-facebook.svg" alt="" class="ficon duration-200">
                <img src="images/icon-twitter.svg" alt="" class="ficon duration-200">
                <img src="images/icon-instagram.svg" alt="" class="ficon duration-200">
            </div>
        </div>
    </div>
</footer>