<section id="references">
    <div class="section-container my-44">
        <div class="flex flex-col items-center space-y-16 md:flex-row md:space-y-0 md:justify-between">
            <img src="images/logo-google.png" alt="" class="">
            <img src="images/logo-ibm.png" alt="">
            <img src="images/logo-microsoft.png" alt="">
            <img src="images/logo-hp.png" alt="">
            <img src="images/logo-vector-graphics.png" alt="">
        </div>
    </div>
</section>